* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

.main {
    max-width: 1200px;
}

h2 {
    color: #667eea;
    margin-bottom: 20px;
    margin: 20px;
}

.grid-box {
    display: grid;
    grid-template-columns: 1;
    gap: 20px;
    margin: 20px;
}

.item {
    text-align: center;
    background-color: #667eea;
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .grid-box{
        grid-template-columns: 1fr;
    }
}

@media(min-width: 601px) and (max-width: 800px) {
    .grid-box {
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
    }
}

@media(min-width: 801px) and (max-width: 1000px){
    .grid-box {
        grid-template-columns: repeat(3, 1fr);
    }
}

