.main-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px 1fr));
    grid-template-rows: 100px 100px 200px 100px;
    gap: 10px;
    padding: 20px;
}

.section {
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
}

.header {
    grid-column: 1/4;
}

.navigation-menu {
    grid-column: 1/4;
}

.footer {
    grid-column: 1/4;
}

.left {
    grid-column: 1/2;
}

.right {
    grid-column: 3/4;
}

.middle {
    grid-column: 2/3;
}

.footer {
    grid-column: 1/4;
}

.middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.picture {
    background-color: aquamarine;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}