h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 150px;
}

.inlineblock {
    display: inline-block;
    box-sizing: border-box;
    border: 3px solid green;
    background-color: lightgreen;
    width: 400px;
    height: 150px;
    font-size: 50px;
    padding: 10px;
    margin: 20px;
}

.block {
    display: block;
    box-sizing: border-box;
    border: 3px solid crimson;
    background-color: lightcoral;
    width: 400px;
    height: 150px;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
}

.none {
    display: none;
    border: 3px solid forestgreen;
    box-sizing: border-box;
    background-color: red;
    width: 400px;
    height: 150px;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    font-size: 40px;
}

.inline {
    display: inline;
    box-sizing: border-box;
    border: 3px solid blue;
    background-color: lightblue;
    padding: 10px;
    margin: 20px;
    font-size: 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 5px solid gold;
    background-color: goldenrod;
    width: 400px;
    height: 150px;
    margin: 20px;
    font-size: 40px;
}

.inlineflex {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 3px solid purple;
    background-color: blueviolet;
    width: 400px;
    height: 150px;
    margin: 20px;
    font-size: 30px;
}


