*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.static-positioning {
    width: 200px;
    height: 200px;
    color: white;
    background-color: aquamarine;
    position: static;
    left: 20%;
    margin-top: 20px;
}

.relative-positioning {
    width: 200px;
    height: 200px;
    color: white;
    background-color: purple;
    position: relative;
    left: 20%;
    margin-bottom: 50px;
    top: 20px;
}

.relative-positioning2 {
    width: 200px;
    height: 200px;
    color: white;
    background-color: red;
    position: relative;
    left: 20%;
    margin-bottom: 50px;
    top: -120px;
}

.absolute-positioning {
    width: 200px;
    height: 200px;
    color: black;
    background-color: yellow;
    position: absolute;
    right: 0px;
    top: 0px;
   
}

.container2 {
    width: 100%;
    height: 400px;
    background-color: lightskyblue;
    position: relative;
    margin-bottom: 50px;
}

.fixed-positioning {
    width: 200px;
    height: 200px;
    background-color: sienna;
    color: black;
    position: fixed;
    top: 50%;
    right: 100px;
}

.sticky-positioning {
    width: 100%;
    height: 50px;
    background-color: blue;
    color:aquamarine;
    top: 0%;
    position: sticky;
}

.container4 {
    height: 3000px;
    background-color: grey;
}